<!DOCTYPE html>
<html>
<head>
    <title>Madlibs</title>
</head>
<body>
    <h2>Let's play a game of Madlibs</h2>

    <form action="/madlib">
        Enter a person:<br>
        <input type="text" name="character">
        <p></p>
        Select a color:<br>
        <select name="color">
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="yellow">yellow</option>
            <option value="pink">pink</option>
            <option value="green">green</option>
            <option value="black">black</option>
        </select>
        <p></p>
        Enter a noun:<br>
        <input type="text" name="noun">
        <p></p>
        Enter an adjective:<br>
        <input type="text" name="adjective">
        <p></p>
        <input type="submit">
    </form>
</body>
</html>